@{
    ViewData["Title"] = "Giriş Yap";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>

    @await Html.PartialAsync("/Views/Shared/HeadPartial.cshtml")
    <style>
        .field-error {
            color: #dc3545; /* Kırmızı renk */
            font-size: 0.875rem; /* Küçük bir font boyutu */
        }

        .toast-error {
            background-color: brown;
            color: white;
        }

        .toast-success {
            background-color: darkgreen;
            color: white;
        }
    </style>

</head>

<body class="bg-gradient-primary">

    <div class="container">

        <!-- Outer Row -->
        <div class="row justify-content-center">

            <div class="col-xl-10 col-lg-12 col-md-9">

                <div class="card o-hidden border-0 shadow-lg my-5">
                    <div class="card-body p-0">
                        <!-- Nested Row within Card Body -->
                        <div class="row">
                            <div class="col-lg-6 d-none d-lg-block bg-register-image"></div>
                            <div class="col-lg-6">
                                <div class="p-5">
                                    <div class="text-center">
                                        <h1 class="h4 text-gray-900 mb-4">Hoşgeldiniz !</h1>
                                    </div>
                                    <form id="loginUserForm">
                                        <div class="form-group">
                                            <input type="email" class="form-control form-control-user"
                                                   id="email" aria-describedby="emailHelp"
                                                   placeholder="E-posta">
                                            <span class="field-error" id="EmailError"></span>
                                        </div>
                                        <div class="form-group">
                                            <input type="password" class="form-control form-control-user"
                                                   id="password" placeholder="Parola">
                                            <span class="field-error" id="PasswordError"></span>
                                        </div>
                                       
                                        <button type="submit" class="btn btn-primary btn-user btn-block">
                                            Giriş Yap
                                        </button>
                                        <hr>
                                        <a asp-action="Create" asp-controller="Survey" class="btn btn-success btn-user btn-block">
                                            <i class="fas fa-poll-h"></i> Anket Oluştur
                                        </a>
                                   
                                    </form>
                                    <hr>
                                @*    <div class="text-center">
                                        <a class="small" href="forgot-password.html">Forgot Password?</a>
                                    </div>*@
                                    <div class="text-center">
                                        <a class="small" asp-action="Register" asp-controller="Account">Hesap Oluştur !</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>

    @await Html.PartialAsync("/Views/Shared/ScriptPartial.cshtml")

    <script type="text/javascript">
        $('#loginUserForm').submit(function (e) {
            e.preventDefault(); // Formun normal gönderimini engelle

            // Form verilerini al
            var formData = {
                Email: $('#email').val(),
                Password: $('#password').val(),
            };

            $.ajax({
                url: '/Account/SignIn', // Eylemin yolunu belirtin
                type: 'POST',
                data: formData, // Form verilerini gönderin
                success: function (response) {
                    if (response.isValid) {
                        if (response.status == false) {

                            Swal.fire({
                                title: "Kullanıcı Girişi Başarısız !",
                                text: response.errors,
                                icon: "error", // "danger" yerine "error"
                                showCancelButton: true, // Kullanıcıya uyarıyı kapatma seçeneği sunar
                                cancelButtonText: "Kapat", // Kapatma düğmesinin metni
                            }).then(function () {
                                window.location.href = "/Account/Login";
                               
                            });

                        }
                        else {
                            Swal.fire({
                                title: "Kullanıcı Girişi Başarılı !",
                                text: response.message,
                                icon: "success",
                                timer: 2000,
                                showConfirmButton: false
                            }).then(function () {
                                window.location.href = "/Question/List"; // Yönlendirme yapılacak sayfanın URL'si
                            });
                        }

                    } else {
                        $.each(response.errors, function (key, values) {
                            // Hata mesajlarını ilgili input alanlarının altına ekleyin
                            $('#' + key + 'Error').html('<ul>' + values.map(function (value) {
                                return '<li>' + value + '</li>';
                            }).join('') + '</ul>');
                        });
                    }
                },
                error: function () {
                    // AJAX isteği başarısız ise burada işlem yapabilirsiniz
                    toastr.error('Kullanıcı girişi başarısız !');
                }
            });
        });
    </script>
</body>

</html>