@using SurveryPoll.DataAccess.Entities;
@using X.PagedList.Mvc.Core;
@model X.PagedList.IPagedList<QuestionListViewModel>


@{
    ViewData["Title"] = "Anket Oluştur";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- Page Heading -->
@*<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h5 class="h5 mb-0 text-gray-800">Anket Oluştur</h5>
    <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">
        <i class="fas fa-download fa-sm text-white-50"></i> Generate Report
    </a>
</div>*@
@section Styles{
    <style>
        a.disabled {
            pointer-events: none;
            cursor: default;
        }

        .alert-success.new {
            background: none;
            border: none;
            border-left: 4px solid green;
            border-radius: 0;
            background: #fff;
            box-shadow: 1px 1px 4px rgba(0, 0, 0, .2);
        }

        .alert-success.new2 {
            background: #f3f8f3;
            border: none;
            border-left: 4px solid #45D298;
            border-radius: 0;
            box-shadow: 1px 1px 4px rgba(0, 0, 0, .2);
        }

            .alert-success.new2.p-4 {
                padding: 0.55rem 0.55rem !important;
            }

            .alert-success.new2 .fa {
                color: #45D298;
                display: table-cell;
                text-align: center;
                vertical-align: middle;
                font-size: 30px;
            }

        .alert-success .alert-body {
            padding-left: 0.55rem;
            display: table-cell;
            color: rgba(0,0,0,0.5);
        }

        .alert-success .alert-header {
            font-weight: 700;
            color: #45D298;
            padding: 0;
            margin: 0;
        }

        .toast-error {
            background-color: brown;
            color: white;
        }

        .toast-success {
            background-color: darkgreen;
            color: white;
        }
    </style>

}
<div class="col-lg-12">
    <div class="card shadow">
        <div class="card-header">
            <h6 class="card-title mb-0 text-primary">Anket Oluştur</h6>
        </div>
        <div class="card-body">
            <div class="container">

                <div class="row">
                    <div class="col-md-12">
                        <div class="progress progress-sm mb-3">
                            <div class="progress-bar" role="progressbar" style="width: 0%;" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        <form id="formWizard">
                            <!-- Adım 1 -->
                            <div class="form-step" id="step1">
                                <div class="alert alert-success new2 p-4">
                                    <i class="fa fa-info-circle" aria-hidden="true"></i>
                                    <div class="alert-body">
                                        <h6 class="alert-header">Bilgilendirme</h6>
                                        <ul>
                                            <li>
                                                Üye olmayan kullanıcılar en fazla 4 soruluk anket oluşturabilirler.
                                            </li>
                                            <li>
                                                Üye olmayan kullanıcılar oluşturdukları anketi en fazla 5 kişiyle paylaşabilirler.
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <h5>Anket Bilgileri <i class="fas fa-user"></i></h5>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="mb-3">
                                            <label for="firstname"
                                                   class="form-label">Ad</label>
                                            <input type="text" class="form-control"
                                                   id="firstname" value="@ViewBag.FirstName">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="mb-3">
                                            <label for="lastname"
                                                   class="form-label">Soyad</label>
                                            <input type="text" class="form-control"
                                                   id="lastname" value="@ViewBag.LastName">
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="mb-3">
                                            <label for="title"
                                                   class="form-label">Anket Başlığı</label>
                                            <input type="text" class="form-control"
                                                   id="title">
                                        </div>
                                    </div>
                                </div>

                                <a class="btn btn-primary next-step" id="questionPage">Sonraki</a>
                            </div>

                            <!-- Adım 2 -->
                            <div class="form-step" id="step2">
                                <div class="alert alert-success new2 p-4 position-fixed fixed-bottom" style="height:70px">
                                    <i class="fa fa-info-circle" aria-hidden="true"></i>
                                    <div class="alert-body">
                                        <h6 class="alert-header">Bilgilendirme</h6>
                                        <ul>
                                            <li>
                                                Eklenen soru sayısı: <span id="questionCount"></span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <h5>Sorular <i class="fas fa-question"></i></h5>
                                <div class="row" id="QuestionListContainer">
                                </div>
                                <nav aria-label="Page navigation example">
                                    <ul class="pagination">
                                    </ul>
                                </nav>
                                <a class="btn btn-primary prev-step">Önceki</a>
                                <a class="btn btn-success next-step float-right" id="btnSave">Kaydet</a>
                            </div>

                            <!-- Adım 3 -->
                            <div class="form-step" id="step3">
                                <h5>Paylaş <i class="fas fa-share-square"></i></h5>
                                <div class="form-group">
                                    <div class="alert alert-success new2 p-4">
                                        <i class="fa fa-info-circle" aria-hidden="true"></i>
                                        <div class="alert-body">
                                            <h4 class="alert-header">Tebrikler, anketinizi oluşturdunuz.</h4>
                                            <h6 >Aşağıda yer alan bağlantıyı kopyalayıp anketinizi arkadaşlarınızla paylaşabilirsiniz.</h6>

                                        </div>
                                    </div>
                                    <label for="title"
                                           class="form-label">Bağlantı Linki</label>
                                    <input type="text" class="form-control" id="surveyurl" name="surveyurl" disabled>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>


@section Scripts{
    <script type="text/javascript">
        var surveyData = {
            Questions: [],
            FirstName: "",
            LastName: "",
            Title: ""
        };

        var questionCount = 0;
        function toggleButtons(questionId) {
            var removeButton = $(".btnRemoveQuestion[question-id='" + questionId + "']");
            var addButton = $(".btnAddQuestion[question-id='" + questionId + "']");

            if (removeButton.css("display") === "block") {
                // Eğer Remove butonu görünüyorsa, Remove butonunu gizle ve Add butonunu göster
                removeButton.css("display", "none");
                addButton.css("display", "block");
            } else {
                // Eğer Add butonu görünüyorsa, Add butonunu gizle ve Remove butonunu göster
                removeButton.css("display", "block");
                addButton.css("display", "none");
            }
        }
        $(document).ready(function () {

            $("#btnSave").click(function () {
                if (questionCount == 0) {
                    toastr.error("Lütfen soru seçiniz !");
                    return false;
                }
                surveyData.FirstName = $("#firstname").val();
                surveyData.LastName = $("#lastname").val();
                surveyData.Title = $("#title").val();

                console.log(surveyData);

                $.ajax({
                    url: '/Survey/AddSurvey', 
                    type: 'POST',
                    contentType: 'application/json', 
                    data: JSON.stringify(surveyData),
                    success: function (result) {
                        if (result.isSuccess){
                            $("#surveyurl").val(result.data);
                        }
                    },
                    error: function (error) {
                        // İşlem sırasında hata oluştuysa burada gerekli işlemleri yapabilirsiniz
                    }
                });


            });

            $("#questionPage").click(function () {

                if ($("#firstname").val().trim() == "") {
                    toastr.error("Ad bilgisi boş geçilemez !");
                    return false;
                }
                if ($("#lastname").val().trim() == "") {
                    toastr.error("Soyad bilgisi boş geçilemez !");
                    return false;
                }
                if ($("#title").val().trim() == "") {
                    toastr.error("Anket başlığı bilgisi boş geçilemez !");
                    return false;
                }

                toastr.success("Başarılı!");

            });



            questionCount = surveyData.Questions.length;
            $("#questionCount").text(questionCount);
            getQuestionData(1);

            var cardsContainer = $('.card');

            cardsContainer.on('click', '.btnAddQuestion', function () {
                // Ekle düğmesine tıklanıldığında yapılacak işlemleri burada gerçekleştirin
                var questionId = $(this).attr('question-id');
                var selectedOption = $("input[type='radio'][name='question-" + questionId + "']:checked");

                if (selectedOption.length === 0) {
                    toastr.error("Şıklardan birini seçmeden soru ekleyemezsiniz !");
                    return false;
                }
              
                $("input[type='radio'][name=question-" + questionId + "]").prop("disabled", true);
                var selectedOptionValue = selectedOption.val(); // Seçilen radio butonunun value'sini alın

                // Soru ve cevap nesnesini oluşturun
                var questionAnswer = {
                    "QuestionId": parseInt(questionId),
                    "QuestionOptionId": parseInt(selectedOptionValue)
                };

                // Soru ve cevabı JSON nesnesine ekleyin
                surveyData.Questions.push(questionAnswer);
                console.log(surveyData);
                toggleButtons(questionId);
                questionCount = surveyData.Questions.length;


                $("#questionCount").text(questionCount);
                toastr.success("Soru eklendi.");
            });
            cardsContainer.on('click', '.btnRemoveQuestion', function () {
                var questionIdToRemove = $(this).attr("question-id"); // Silinecek sorunun ID'sini al
                for (var i = 0; i < surveyData.Questions.length; i++) {
                    if (surveyData.Questions[i].QuestionId == questionIdToRemove) {
                        surveyData.Questions.splice(i, 1);
                        break; // Soruyu bulduk, döngüyü sonlandırabiliriz
                    }
                }
                $("input[type='radio'][name=question-" + questionIdToRemove + "]").prop("disabled", false);
                // İlgili soruyu HTML'den de kaldırın (örneğin, seçili radio butonu temizleyin)
                $("input[type='radio'][name='question-" + questionIdToRemove + "']").prop("checked", false);
                toggleButtons(questionIdToRemove);
                questionCount = surveyData.Questions.length;
                console.log(surveyData);
                $("#questionCount").text(questionCount);
                toastr.success("Soru Çıkarıldı.");
            });

            // Sayfa numaralarına tıklandığında ilgili sayfadaki verileri al
            $('.pagination').on('click', '.sayfa', function () {
                var sayfaNo = $(this).data('sayfano');
                getQuestionData(sayfaNo);
            });
        });
        function getQuestionData(page) {
            var pageSize = 6;
            $.ajax({
                url: '/Survey/GetQuestion',
                type: 'GET',
                data: { SayfaNo: page, pageSize: pageSize }, // Sayfa numarasını ve sayfa boyutunu gönder
                success: function (result) {
                    var questionListContainer = $('#QuestionListContainer');
                    questionListContainer.empty();
                    var htmlContent = "";
                    $.each(result.data, function (index, question) {
                        var htmlContent = "<div class='col-md-4'>" +
                            "<div class='card mb-4 border-bottom-danger'>" +
                            "<div class='card-header p-2'>" +
                            "<a class='btn btn-outline-success btn-sm float-right btnAddQuestion' question-id='" + question.id + "'><i class='fas fa-check'></i>&nbsp; Ekle</a>" +
                            "<a class='btn btn-outline-danger btn-sm float-right btnRemoveQuestion' style='display:none' question-id='" + question.id + "'><i class='fas fa-check'></i>&nbsp; Çıkar</a>" +
                            "</div>" +
                            "<div class='card-body p-3'>" +
                            "<h7 style='font-weight:bold'>" + question.questionText + "</h7>" +
                            "<ul class='pl-1 mt-2'>";

                        $.each(question.questionOptions, function (index, option) {
                            htmlContent += "<li style='font-size:14px; list-style: none;'>" +
                                "<input type='radio' name='question-" + question.id + "' value='" + option.id + "' id='option-" + option.id + "'>&nbsp;" +
                                "<label for='option-" + option.id + "'>" + option.optionText + "</label>" +
                                "</li>";


                        });

                        htmlContent += "</ul>" +
                            "</div>" +
                            "</div>" +
                            "</div>";

                        questionListContainer.append(htmlContent);

                        $.each(surveyData.Questions, function (index, question) {
                            var questionId = question.QuestionId;
                            var optionId = question.QuestionOptionId;

                            // Soru ve seçeneğin seçiciyi oluşturun
                            var selector = 'input[type="radio"][name="question-' + questionId + '"][value="' + optionId + '"]';

                            // Eğer bu seçici ile eşleşen bir radio düğmesi varsa, seçili yap
                            if ($(selector).length > 0) {
                                $(selector).prop('checked', true);
                            }

                            // İlgili "Soru Çıkar" ve "Soru Ekle" düğmelerini göster/gizle
                            var removeButton = $(".btnRemoveQuestion[question-id='" + questionId + "']");
                            var addButton = $(".btnAddQuestion[question-id='" + questionId + "']");

                            removeButton.css("display", "block");
                            addButton.css("display", "none");
                        });



                    });

                    var totalPages = result.totalPages;
                    updatePageNumbers(totalPages, page);
                }
            });
        }
        function updatePageNumbers(totalPages, currentPage) {
            // Sayfa numaralarını güncelleyin
            var pagination = $('.pagination');
            pagination.empty();

            for (var i = 1; i <= totalPages; i++) {
                var activeClass = (i === currentPage) ? 'active' : '';
                pagination.append('<li class="page-item"><a href="#" class="sayfa page-link" ' + activeClass + '" data-sayfano="' + i + '">' + i + '</a></li>');

            }
        }


    </script>
}