<!DOCTYPE html>
<html lang="en">
<head>
    @await Html.PartialAsync("/Views/Shared/HeadPartial.cshtml")
    @await RenderSectionAsync("Styles", required: false)
</head>
<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        @await Html.PartialAsync("/Views/Shared/SideMenuPartial.cshtml")
    
        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                @await Html.PartialAsync("/Views/Shared/NavbarPartial.cshtml")
                <!-- Begin Page Content -->
                <div class="container-fluid">

                    

                @RenderBody()

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->
            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; Your Website 2021</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->
    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Çıkış yapmak istediğinize emin misiniz?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Giriş sayfasına yönlendirileceksiniz.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">İptal</button>
                    <a class="btn btn-primary" asp-controller="Account" asp-action="SignOut">Çıkış Yap</a>
                </div>
            </div>
        </div>
    </div>


    @RenderBody()

    @*Script Start*@
    @await Html.PartialAsync("/Views/Shared/ScriptPartial.cshtml")
    @*Script End*@
    @RenderSection("Scripts", required: false)
</body>

</html>